#root {
  background: url(img/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.App {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  flex-wrap: nowrap;
}

#left_aside, #right_aside {
  width: 43%;
}

#left_aside {
  order: 1;
}

#right_aside {
  order: 3;
}

input, #sudoku_field .td {
  text-align: center;
}


#sudoku_field input {
  width: 100%;
  height: 100%;
  font-size: 22px;
  border: none;
  background: #eee;
  outline: none;
  color: blue;
  padding: 0;
}
#sudoku_field span {
  font-size: 22px;
  border: none;
  background: #eee;
}

#sudoku_field {
  margin: 0 auto;
  position: relative;
  width: 65%;
  order: 2;
  border: 3px solid #767676;
  border-bottom-width: 1px;
  margin-top: 40px;
}

#sudoku_field::before {
  content: "";
  padding-top: 100%;
  display: block;
}

#sudoku_field h2 {   
text-align: center;   
font-size: 30px;   
font-style: italic;
font-weight: bold;
margin: 0;   
position: absolute;   
bottom: 102%;
left: calc(50% - 65px);   
color: #050568; 
}

#sudoku_field .sudoku-wrapper {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
      -ms-grid-columns: (1fr)[9];
          grid-template-columns: repeat(9, 1fr);
    -ms-grid-rows: (1fr)[9];
        grid-template-rows: repeat(9, 1fr);   
}

#sudoku_field .sudoku-wrapper .td {
  border: 1px solid #767676;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sudoku_field .sudoku-wrapper .td:nth-child(3n) {
  border-bottom-width: 3px;
}

#sudoku_field .sudoku-wrapper .td:nth-child(n+19):nth-child(-n+27),
#sudoku_field .sudoku-wrapper .td:nth-child(n+46):nth-child(-n+54) {
  border-right-width: 3px;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 43px;
}

#right_aside div {
  width: 80%;
}

#right_aside div .aside_btn, #right_aside div select {
  width: 100%;
}
#right_aside div select {
  border-top: none;
  margin-top: -5px;
  padding-top: 5px;
  border-radius: 2px; 
}

#right_aside div .aside_btn {
  border-bottom: none;
  margin-bottom: -5px;
  padding-bottom: 5px
}

#right_aside a.aside_btn {
  text-align: center;
  text-decoration: none; 
}

.about-rules {
  width: 80%;
  height: 80%;
  border: 2px solid #767676;
  background: #eee;
  border-radius: 4px;
  margin: 0 auto;
  padding: 10px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.about-rules h2 {
  margin: 0;
  text-align: center;
}

.about-rules a {
  display: block;
  text-align: center;
}

#timer p {
  margin: 0;
  text-align: center;
  cursor: auto;
}

.aside_btn, select, #timer {
  width: 80%;
  border: 2px solid #767676;;
  background: #eee;
  color: #050568;
  font-size: 18px;
  border-radius: 4px;
  outline: none;
  margin-bottom: 5px;
  padding: 5px 0;
  cursor: pointer;
}

#sudoku_field input:focus {
  background: #44B4F5;
}

@media screen and (min-width: 960px) {
    #sudoku_field input{
      font-size: 30px;
    }
    #sudoku_field span {
       font-size: 30px;
    }
}

#sudoku_field .td input.hasError {
  color: red;
}

#sudoku_field .td span.hasError {
  color: #B17C7C;
}